<h1 class="text-center">Your Workout History</h1>
<body>
  <p></p>
  <div></div>
  <table class="table">
    <thead class="table table-dark">
      <tr>
        <th>Date</th>
        <th>Workout</th>
        <th>workout Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of listObj; let i = index">
        <th>{{element.createdAt}}</th>
        <th>{{element.workoutDetails}}</th>
        <th>{{element.workoutContent}}</th>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <button class="btn btn-danger" (click)="clearhistory()">Clear History</button>
  </div>
  