<div>
<h1 class="text-center pt-3 mb-5">Your Workout History</h1>
<div class=text-center>
  <div class="container">
  <table class="table">
    <thead class="table table-dark">
      <tr>
        <th>Date</th>
        <th>Workout</th>
        <th>Workout Content</th>
      </tr>
    </thead>
    <tbody class="table-secondary">
      <tr *ngFor="let element of listObj; let i = index">
        <th>{{element.createdAt}}</th>
        <th>{{element.workoutDetails}}</th>
        <th>{{element.workoutContent}}</th>
      </tr>
    </tbody>
  </table>

  <div class="text-center">
    <button class="btn btn-danger" (click)="clearhistory()">Clear History</button>
  </div>
</div>
</div>
</div>