
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand"> Workout Planner: </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" >
      <a class="nav-item nav-link active" routerLink="workouts">Your Workouts <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="workouthistory">Workout History</a>
      <a class="nav-item nav-link active" routerLink="user">Your Profile</a>
    </div>
  </div>

    
 
  <ul class="nav navbar-nav navbar-right">
    <li class="mr-3"><a routerLink="registration">Registration </a></li>
    <li class="mr-3"><a routerLink="">LogIn </a></li>
    <li><a routerLink=""> LogOut</a></li>
  </ul>
  
</nav>