.gym{


  background-image: url('src/assets/SiteBackground.jpg');
  
  min-height: 100%;
  min-width: 1024px;
	
  width: 100%;
  height: auto;
	
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  gym {
    left: 50%;
    margin-left: -512px;
  }}