<div class="container">
<h1 class=" text-center pt-3 mb-5">Create new workout</h1>
<div></div>

<div class="container">
<div>
  <h4 class="mt-3 mb-4 ml-3">Workout name: <input type="text" [(ngModel)]="newWorkout.name" maxlength="25"></h4>
  

  <table class="table ml-1 w-75">
    <thead class="table table-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Type</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of newWorkout.exercises; let index= index">
        <th>{{index+1}}</th> <!--element.id-->
        <th>{{element.name}}</th>
        <th>{{element.sets}}</th>
        <th>{{element.reps}}</th>
        <th>{{element.weight}}</th>
        <th>{{element.type}}</th>
        <th><button type="button" class="btn btn-danger" (click)="deleteExercise(index)">Delete</button></th>
      </tr>
    </tbody>
  </table>
</div>

<div class="ml-1 mt-5 mb-2 w-75">
  <h4>Add new exercise:</h4>
  <p class="font-weight-bold bg-dark text-light">Exercise name: <input type="text" maxlength="50" [(ngModel)]="newExercise.name">
    Sets:<input type="number" max="100" min="1" [(ngModel)]="newExercise.sets">
    Reps:<input type="number" max="100" min="1"  [(ngModel)]="newExercise.reps">
    Weight:<input type="number" max="1000" min="1" [(ngModel)]="newExercise.weight">
    Kg/Lb:
      <select [(ngModel)]="newExercise.type">
        <option value="KG">KG</option>
        <option value="LB">LB</option>
      </select>
    </p>
  <p><button class="btn btn-primary" (click)="addExercise()">Add</button></p>
</div>
</div>

<div class="text-center">
  <button class="btn btn-success" (click)="createWorkout()">Save Workout</button>
</div>
<div>