<div>
<h1 class="text-center pt-3 mb-5">Your Profile</h1>

<div>
  <div>
    <div class="container">
      <div>
  <form>
<table class="table w-75 table-bordered" style="opacity: 0.9;">
  <thead class="table table-dark">
    <tr>
      <th>
        Profile
      </th>
      <th>
        Your details
      </th>
    </tr>
  </thead>
  <tbody class="table-secondary">
    <tr>
      <th style="width: 50%">First name: </th>
      <th> {{userObj.firstName}}</th>     
    </tr>
    <tr>
      <th style="width: 50%">Last name:</th>
      <th>{{userObj.lastName}}</th>
    </tr>
    <tr>
       <th style="width: 50%">E-mail: </th>
       <th> {{userObj.email}} </th>
    </tr>
    <tr>
      <th style="width: 50%">Number of workout plans:</th>
      <th>{{userObj.numberOfWorkouts}}</th>
    </tr>
    <tr>
      <th style="width: 50%">Number of completed workouts:</th>
      <th>{{userObj.numberOfCompletedWorkouts}}</th>
    </tr>
  </tbody>

</table>
</form>
</div>
</div>