
<div>
<h1 class="text-center pt-3 mb-5">Your Workout Plans</h1>
<div class="container">
    
<div class=text-center>
<table class="table table-light table-hove">
  <thead class="table table-dark">
    <tr>
      <th>Show</th>
      <th>#</th>
      <th>Name</th>
      <th>Created</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Total Weight</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of listObj; let i = index">
      <th><button type="button" class="btn btn-primary" routerLink="./{{element.id}}">Select</button></th>
      <th>{{i+1}}</th> <!--element.id-->
      <th>{{element.name}}</th>
      <th>{{element.createdAt}}</th>
      <th>{{element.totalSets}}</th>
      <th>{{element.totalReps}}</th>
      <th>{{element.totalWeightMoved}}</th>
      <th><button type="button" class="btn btn-danger" (click)="deleteWorkout(element.id)">Delete</button></th>
    </tr>
  </tbody>
</table>
</div >
<div class="text-center">
  <button class="btn btn-success" routerLink="/createworkout">Create new workout</button>
</div>


</div>
</div>
