<body style="background-image: url('assets/SiteBackground.jpg')">
<div>
<h1 class="text-center w-75 pt-3">{{workout.name}}</h1>
<p></p>



<div>
  <div >
    <div class="container">
      <div class="text-center">
  <form>
<table class="table w-75" style="opacity: 0.9;">
  <thead class="table table-dark">
    <tr>
      <th>Exercise</th>
      <th>Sets X Reps X Weight</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody class="table-secondary">
    <tr *ngFor="let element of workout.exercises; let i = index">
      <th>{{element.name}}</th>
      <th>{{element.sets}} X {{element.reps}} X {{element.weight}} {{element.type}}</th>
      <th>
      <input type="checkbox" class="btn btn-success" (click)="checkbox(i)">
     </th>
    </tr>
  </tbody>
</table>
</form>
<button type="submit" [disabled]="!ready" class="btn btn-success offset-5 mr-3" (click)="sentToHistory()">Completed</button>
</div>
</div>


<button class="btn btn-secondary offset-1" routerLink="/workouts">Back</button>
</div>
</div>
</div>
</body>