<body style="background-image: url('assets/SiteBackground.jpg')">
<div>
<h1 class="offset-3 pt-3 mb-5 pl-4">{{workout.name}}</h1>
<p></p>



<div>
  <div class="offset-0 col-md-10">
    <div class="container">
  <form>
<table class="table w-75 table-light">
  <thead class="table table-dark">
    <tr>
      <th>Exercise</th>
      <th>Sets X Reps X Weight</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of workout.exercises; let i = index">
      <th>{{element.name}}</th>
      <th>{{element.sets}} X {{element.reps}} X {{element.weight}} {{element.type}}</th>
      <th>
      <input type="checkbox" class="btn btn-success" (click)="checkbox(i)">
     </th>
    </tr>
  </tbody>
</table>
</form>
<button type="submit" [disabled]="!ready" class="btn btn-success offset-4" (click)="sentToHistory()">Completed</button>
</div>
</div>
</div>

</div>
</body>